* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", Sans-Serif;
}




.nav {
	height: 40px;
	background-color: #EEEEEE;
	position:fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	border: 1px solid #DDDDDD;
}

.wrapper {
	position:relative;
	padding-top: 75px;
	padding-left: 75px;
}

.nav2  {
	display: inline-block;
	right: 10px;
	position: absolute;
	padding-top: 5px;
	
}

.nav2 a {
	text-decoration: none;
}

.logo {
	
	padding-left: 5px;
	font-weight: normal;
	position: fixed;
	left: 10px;
	top: 10px;
}

.results {
	margin-top: 25px;
}

.results div {
	display: inline-block;
	border: 1px solid #999;
	padding: 5px 15px;
	border-radius: 3px;
}

.list {
	position: relative;
	left: -40px;
	line-height: 200%;
}

.list ul {
	list-style:none;
}

.list ul a, .list li a {
	text-decoration: none;

}

.date, .location {
	color: #999;
}


.bar input {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  height: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 0 5px 0 8px;
  width: 400px;
}

.bar .search-button {
  font-size: 17px;
  width: 37px;
  height: auto;
  padding: 2px 6px 3px 6px;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}
